body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    background-color: #2563eb;
}

.navbar a {
    color: #f9fafb;
    text-decoration: none;
    font-weight: bold;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 60px auto;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
}

fieldset {
    border: none;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

input[type='radio'],
input[type='checkbox'] {
    width: auto;
    margin-right: 8px;
}

fieldset label input {
    display: inline-block;
}

button {
    width: 40%;
    padding: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button {
    margin-top: 10px;
}

.form-container p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
}
